.swiper-container {
  width: 100%;
}

.swiper-slide {
  background: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pic {
  width:500px;
  height:400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1149px) {
  .swiper-container {
    width: auto;
  }

  .swiper-slide {
    background: #0004ff79;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #pic {
    width: 140px;
    height: 100px;
  }
}